.hamburgerToggle {
  display: flex !important;
}
.hide {
  display: none !important;
}
.scrollColorChange {
  background-color: $purple-main !important;
}
.changeVisibility {
  visibility: visible !important;
}
.underline {
  background-color: $purple-main;
  z-index: 0;
  content: '';
  position: relative;
  display: inline-block;
}
