.hamburgerToggle {
  display: flex !important;
}
.hide {
  display: none !important;
}
.scrollColorChange {
  background-color: $purple-main !important;
}
.hideImgText {
  visibility: visible !important;
}
