.light-h1-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xxl-font;
  line-height: $line-spacing-72;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-h2-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xl-font;
  line-height: $line-spacing-64;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-h3-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $l-font;
  line-height: $line-spacing-48;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-h4-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $m-font;
  line-height: $line-spacing-32;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-h5-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-label-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xs-font;
  line-height: $line-spacing-17;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-text-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.light-text_gray-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $grey-color12;
}
.light-text_small-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $xs-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $super-dark-color1;
}
.dark-h1-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xxl-font;
  line-height: $line-spacing-72;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-h2-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xl-font;
  line-height: $line-spacing-64;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-h3-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $l-font;
  line-height: $line-spacing-48;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-h4-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $m-font;
  line-height: $line-spacing-32;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-h5-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-label-right {
  font-family: $font-family-poppins;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $xs-font;
  line-height: $line-spacing-17;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-text-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
.dark-text_gray-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $s-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $grey-color12;
}
.dark-text_small-right {
  font-family: $font-family-source;
  font-style: $font-style-normal;
  font-weight: $font-weight-600;
  font-size: $xs-font;
  line-height: $line-spacing-24;
  letter-spacing: $character-spacing;
  color: $primary-color;
}
