.h1-dark {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0;
  color: $font-dark;
}

.h2-dark {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0;
  color: $font-dark;
}

.h3-dark {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  color: $font-dark;
}

.h4-dark {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: $font-dark;
}

.h5-dark {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $font-dark;
}

.text-label-dark {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0;
  color: $font-dark;
}

.text-dark {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $font-dark;
}

.text-dark-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $font-dark;
}

.h1-light {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0;
  color: $font-white;
}

.h2-light {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0;
  color: $font-white;
}

.h3-light {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  color: $font-white;
}

.h4-light {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: $font-white;
}

.h5-light {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $font-white;
}

.text-grey {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $gray-main;
}

.text-label-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0;
  color: $font-white;
}

.text-light {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: $font-white;
}
