/* colors */
$primary-color: #fff;
$secondary-color: #C86DD7;
$yellow-color: #FFC300;
$dark-color: #3023AE;
$grey-color1: #D8D8D8;
$grey-color2: #DADEE0;
$grey-color3: #E8E8E8;
$grey-color4: #0000001A;
$grey-color5: #7F7F7F;
$grey-color6: #0000001B;
$grey-color7: #00000019;
$grey-color8: #00000066;
$grey-color9: #00000065;
$grey-color10: #00000067;
$grey-color11: #969696;
$grey-color12: #DADADA;
$grey-color13: #E8F0F4;
$light-color1: #C59FFF;
$light-color2: #DDDDFF;
$light-color3: #DDDDFC;
$light-color4: #F6F6FF;
$light-color5: #B6B6DD;
$light-color6: #C7C7EA;
$light-color7: #E4E4F4;
$light-color8: #CECEEF;
$light-color9: #FDF2FF;
$light-color10: #F0F0FC;
$super-dark-color1: #333;
$super-dark-color2: #310039;
$super-dark-color3: #000;
$white-color-1: #FCFCFC;
$white-color-2: #F7F7F7;
$white-color-3: #FFFFFF4B;
$white-color-4: #00000000;
/* font sizes */
$xs-font: 12px;
$s-font: 16px;
$m-font: 24px;
$l-font: 40px;
$xl-font: 56px;
$xxl-font: 72px;
/* line spacing */
$line-spacing-17: 17px;
$line-spacing-24: 24px;
$line-spacing-32: 32px;
$line-spacing-48: 48px;
$line-spacing-64: 64px;
$line-spacing-72: 72px;
$character-spacing: 0px;
/* font families */
$font-family-poppins: Poppins;
$font-family-source: Source Sans Pro;
/* font weight */
$font-weight-600: 600;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-style-normal: normal;
