/* colors */
$purple-main: #C86DD7;
$blue-main: #3023AE;
$black-main: #000000;
$font-white: #ffffff;
$gray-main: #DADEE0;
$font-dark: #333333;
/* breakpoints */
$br-xs: 0;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;
$br-xxl: 1400px;
