/**
  TODO: Try and reduce the nesting a bit. Try to not go further than 3 deep
  This can cause some performance issues. For example the CSS that is generated for
  elements inside .services-items-item will look like this:

  #services-section #services-container #services-items .services-items-item img
  #services-section #services-container #services-items .services-items-item p
  #services-section #services-container #services-items .services-items-item h4
  etc...

  You can imagine how many lines this could add to the overall file if every file is nested.
  The above could be reduced to:
    #services-section .services-items-item img
    #services-section .services-items-item p
    #services-section .services-items-item h4

  It's good practice when writing SASS to think about how it will translate to CSS and make sure you're
  trying to optimise where possible
 */

#services-section {

  #services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin-bottom: 10px;
    }

    p {
      width: 50%;
      text-align: center;

      @media only screen and (max-width: $br-sm) {
        width: 100%;
      }
    }

    #services-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      margin: 40px 0;

      @media only screen and (max-width: $br-sm) {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
      }

      .services-items-item {
        padding: 2% 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $br-md) {
          padding: 1% 2%;
        }

        &:hover {
          box-shadow: 0 .5rem 5rem rgba(1,1,1, .1);
          cursor: pointer;
        }

        h4 {
          position: relative;
          z-index: 1000;

          @media only screen and (max-width: $br-md) {
            font-size: 20px;
          }
        }

        .underline {
          height: 7px;
          width: 100%;
          top: -20px;
          visibility: hidden;
        }

        p {
          width: 90%;

          @media only screen and (max-width: $br-md) {
            width: 100%;
          }

          @media only screen and (max-width: $br-sm) {
            width: 70%;
          }

        }

        img {
          margin: 5%;

          @media only screen and (max-width: $br-md) {
            width: 30%;
          }

          @media only screen and (max-width: $br-md) {
            width: auto;
          }
        }
      }
    }
  }
}
