#team-section {
  background-color: $blue-main;
  overflow: hidden;

  #team-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;

    @media only screen and (max-width: $br-md) {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    @media only screen and (max-width: $br-sm) {
      flex-direction: column;
    }

    #team-container-image {

      img {
        width: 100%;

        @media only screen and (max-width: $br-lg) {
          width: 90%;
        }
      }
    }

    #team-container-content {
      position: relative;
      text-align: left;
      width: 40%;
      height: 100%;

      @media only screen and (max-width: $br-sm) {
        width: 100%;
      }

      h5 {
        margin-bottom: 15px;
      }

      h2 {
        margin-bottom: 10px;
        @media only screen and (max-width: $br-lg) {
          font-size: 40px;
          line-height: 48px;
        }
        @media only screen and (max-width: $br-md) {
          font-size: 30px;
          line-height: 36px;
        }
        @media only screen and (max-width: $br-sm) {
          font-size: 40px;
          line-height: 48px;
        }
      }

      p {
        margin-bottom: 35px;
      }

      a {
        background-color: $button-orange;
        border: none;
        cursor: pointer;
        width: 40%;
      }
    }
  }
}

#top-circle {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 39%;
  z-index: 1000;
  transform: translate(-50%, -30%);

  @media only screen and (max-width: $br-xl) {
    transform: translate(-50%, -40%);
  }

  @media only screen and (max-width: $br-sm) {
   left: 100%;
  }
}

#bottom-circle {

  &-big {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 120%;
    left: -10%;
    transform: translate(-50%, -50%);
    opacity: .6;
    z-index: 0;

    @media only screen and (max-width: $br-sm) {
      left: 10%;
      top: 110%;
    }
  }

  &-small {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 155%;
    left: -20%;
    transform: translate(-50%, -50%);
    opacity: .6;

    @media only screen and (max-width: $br-xl) {
      top: 145%;
      left: -20%;
    }

    @media only screen and (max-width: $br-lg) {
      top: 135%;
      left: -20%;
    }

    @media only screen and (max-width: $br-sm) {
      left: 110%;
      top: 120%;
    }
  }
}
