#team-section {
  background-color: $blue-main;

  #team-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;

    @media only screen and (max-width: $br-sm) {
      flex-direction: column;
    }

    #team-container-content {
      position: relative;
      text-align: left;
      width: 40%;
      height: 100%;

      @media only screen and (max-width: $br-sm) {
        width: 100%;
      }

      h5 {
        margin-bottom: 15px;
      }

      h2 {
        margin-bottom: 10px;

        @media only screen and (max-width: $br-sm) {
          font-size: 40px;
          line-height: 48px;
        }
      }

      p {
        margin-bottom: 35px;
      }

      button {
        background-color: $button-orange;
        border: none;
        cursor: pointer;
      }
    }
  }
}

#top-circle {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 39%;
  z-index: 1000;
  transform: translate(-50%, -30%);

  @media only screen and (max-width: $br-sm) {
   left: 100%;
  }
}

#bottom-circle {

  &-big {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 120%;
    left: -10%;
    transform: translate(-50%, -50%);
    opacity: .6;
    z-index: 0;

    @media only screen and (max-width: $br-sm) {
      left: 10%;
      top: 110%;
    }
  }

  &-small {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 155%;
    left: -20%;
    transform: translate(-50%, -50%);
    opacity: .6;

    @media only screen and (max-width: $br-sm) {
      left: 110%;
      top: 120%;
    }
  }
}
